//css公共参数


// 主题色
$global-v-theme-color=#1F78D1

// 页面分割底色
$global-v-background-color=#ECECEC

// 页面div底色
$global-v-div-background-color=#ffffff

// 路由页面菜单按钮默认颜色
$global-v-page-button-color=#ffffffa0

// 页面菜单按钮选中颜色
$global-v-page-button-click-color=#ffffff

// 页面菜单按钮悬浮颜色
$global-v-page-button-hover-color=#ffffffA0


// 主要标题颜色
$global-v-title-color=#333333

// 行选中颜色
$global-v-line-click-color=#F5F7FA

// 行悬浮颜色
$global-v-line-hover-color=#F5F7FA


// 左侧模块默认宽度 及logo div宽度
$global-v-left-logo-width=280px
$global-v-left-logo-background = #181E49


// 板块及大页面间隔边距
$global-v-block-distance = 10px

// 相关联动板块页面间距 （板块间间距用伪元素做）
$global-v-content-distance=10px

// 板块内部边距padding
$global-v-block-padding = 20px

// home页头高度
$global-v-home-header=60px

// 辅助文字颜色
$global-v-auxiliary-text-color=#999999

// 涨幅红色
$global-v-up-color=#fc514e
$global-v-up-color-50=#fc514e6b
// 跌幅绿色
$global-v-down-color=#1bab18
$global-v-down-color-50=#1bab186b



$click-color = #344052
$light-color = #E6F0FC
$hover-color = #3d516b1a
$background-gray-color = #ECECEC

$text-color-title-black = #303133
$text-color-title-white = #ffffff
$text-color-table-black = #606266
$text-color-text-black = #999999

$margin = 20px
$margin-half = 15px


// 字号
// 页面标题 导航标题 [少数]
$global-v-text-size-title-strong = 21px
// 模块名称 大数字等 [突出]
$global-v-text-size-title-weak = 18px
// 大段文字和项目标题等
$global-v-text-size-most-strong = 16px
// 小标题 模块描述等 表格头
$global-v-text-size-most-weak = 15px
// 辅助性文字 表格内容
$global-v-text-size-secondary-strong = 14px
// 次要的备注说明等
$global-v-text-size-secondary-weak = 12px

